// This is taken from HomeService
.dropHeightHS {
  margin-top: 5vh;
  // position: absolute;
}
.dropdownContainer {
  position: fixed;
  top: 10vh;
  z-index: 222;
  width: 100vw;
  max-width: 100%;
  display: flex;
  // background-color: #000;
  justify-content: space-around;
}
.dropdownContainerM {
  position: absolute;
  height: 70%;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  z-index: 2024;
  display: flex;
  justify-content: center;
}
.dropdown {
  width: 95vw;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #fafafa;
  // background-color: blue;
  z-index: 3000;
}
.dropdownM {
  // height: 70vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.915);
  z-index: 3000;
  overflow: auto;
}
.itemContainer {
  height: 100%;
  padding: 10px 10px;
  width: 20vw;
  opacity: 0.99;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.itemContainerM {
  height: 100%;
  padding: 10px 0;
  width: 60vw;
  display: grid;
  justify-content: flex-start;
  opacity: 0.99;
  align-content: flex-start;
  .dropdownSubTitle{
    width: 100%;
  }
}
.dropDownTitle {
  height: 40px;
  width: 12vw;
  @media (max-width: 2560px) {
    font-size: 14px;
    height: 2vh;
    width: 13vw;
    // background-color: orange;
  }
  color: #1d1d1d;
  // background-color: #fff;
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  // text-align: center;
  font-weight: 800;
  text-align: left;
  margin: 20px 10px;
  @media (max-width: 1366px) {
    font-size: 12px;
    height: 2vh;
  }
}
.dropDownTitleM {
  height: 40px;
  color: #000;
  font-weight: 800;
  margin-top: 20px;
  width: 100%;
}
.dropdownSubContainer {
  display: flex;
  font-weight: 700;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}


.dropdownSubTitle {
  text-align: left;
  width: 96%;
  height: 4vh;
  margin: 1vh 4%;
  // background-color: yellowgreen;
  font-size: 0.85rem;
  transition: 0.2s all;
  font-weight: bolder;
  color: rgb(76, 76, 76);
  @media (max-width: 2560px) {
    font-size: 11.5px;
    width: 14vw;
    // background-color: orange;
  }
  @media (max-width: 1366px) {
    font-size: 11.5px;
    width: 14vw;
    // background-color: orange;
  }
  
}
.dropdownSubTitle:hover {
  color: #a08a8a;
  cursor: pointer;
}
.dropHover {
  color: #000;
  text-decoration: "none";
  transition: 0.1s all;
  font-weight: 500;
}
.dropHover:hover {
  color: #727272;
  cursor: pointer;
  font-weight: 500;
}

.Dispute {
  width: 20%;
}
